/* :root {
    --primaryColor : 
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

html {
  font-family: "Mulish", sans-serif;
}

/* Style navbar */
header {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav {
  border-radius: 24px;
  padding: 16px 0px;
  background-color: #f1f2f3;
}
header nav a {
  text-decoration: none;
  border-radius: 16px;
  margin: 0 8px;
  color: black;
  font-weight: 300;
  padding: 8px 16px;
  background-color: rgb(255, 255, 255);
}

header nav a:hover {
  transition: 0.4s ease-in;
  background-color: #e0e0e0;
}
/* Style navbar */

/* Style hero */
.container {
  margin: 15rem 2rem;
}
.container h2 {
  font-size: 3.5rem;
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.container h2 span {
  position: relative;
}

.container h2 span::before {
  background-image: linear-gradient(
    to right,
    rgb(123, 123, 123),
    rgb(177, 177, 177),
    #dcdcdc,
    transparent
  );
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 65%;
  left: -2px;
  bottom: 10px;
  z-index: -1;
  transform: rotate(-2deg);
}

.container .expertise-wrapper {
  margin: 4.2rem 0;
}

.container .expertise-wrapper h3 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 1.5rem 0;
}

.container .expertise-wrapper ul {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  gap: 20px;
}

.container .expertise-wrapper ul li {
  padding: 1rem 2rem;
  border-radius: 16px;
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.3);
  background-color: #f1f2f3;
}
/* Style hero */

/* Style about */
.container .about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  height: 100vh;
}

.container .about-wrapper img {
  width: 500px;
}

.container .about-wrapper h3 {
  font-size: 2rem;
  margin-top: 100px;
  text-align: center;
  width: 100%;
}

.container .about-wrapper p {
  max-width: 50%;
  line-height: 1.5;
  font-size: 1.4rem;
  font-weight: 400;
}

.container .contact-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container .contact-wrapper h1 {
  font-size: 5rem;
  text-align: center;
}

.container .contact-wrapper a {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  color: #7f7f7f;
  text-decoration: none;
}

.container .contact-wrapper a:hover {
  opacity: 0.7;
}

footer {
  background-color: black;
}
footer p {
  text-align: center;
  color: #f1f2f3;
  padding: 24px 16px;
}

/* Style about */

/* Responsive */
@media screen and (max-width: 728px) {
  html {
    font-size: 62.5%;
  }
  .container h2 {
    font-size: 2rem;
    text-align: center;
  }
  .container .about-wrapper p {
    max-width: 100%;
  }
  .container h2 span::before {
    bottom: 3px;
  }
}
